@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}

<head>
    <style>
        .feature {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 300px;
        }

            .feature h2 {
                font-size: 1.5em; margin-bottom: 15px;
            }

            .feature p {
                font-size: 1em;
                margin-bottom: 20px;
            }

    </style>
</head>
<body>
    <main>
        <section class="hero" style="padding: 38px 20px; text-align: center;">
            <h1 style="font-size: 2.5em; margin-bottom: 20px;">Organiza tus proyectos, créalos de inmediato</h1>
            <p style="font-size: 1.2em; margin-bottom: 30px;">Manténgase al tanto de sus tareas personales y profesionales con nuestra intuitiva herramienta de gestión de tareas</p>
            <a style="margin-right: 15px" class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-8 text-sm font-medium text-primary-foreground shadow transition-colors hover-bg-primary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" href="@Url.Action("CrearProyecto", "Proyecto")"> Crear Proyecto </a>
            <a class="inline-flex h-10 items-center justify-center rounded-md border border-input bg-secondary px-8 text-sm font-medium text-secondary-foreground shadow-sm transition-colors hover-accent-foregroundfocus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" href="@Url.Action("VerProyectos", "Proyecto")"> Ver Proyectos </a>
        </section>
        <section class="features" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 60px; padding: 40px 20px; background-color: lightgrey">
            <div class="feature">
                <h2>Task Management</h2>
                <p>Easily create, organize, and track your tasks. Set due dates, assign priorities, and mark tasks as complete.</p>
            </div>
            <div class="feature">
                <h2>Project Management</h2>
                <p>Group related tasks into projects to stay organized and focused. Collaborate with team members and track project progress.</p>
            </div>
            <div class="feature">
                <h2>Reporting and Analytics</h2>
                <p>Track your productivity and progress with detailed reports and analytics.</p>
            </div>
        </section>
    </main>
</body>
